<div>
     <h2>选择数据集</h2>
     <form id="model-select-form" action="<%=@action%>" method="get">
          <p>
               数据集:   <%= select_tag :m,options_for_select(@models),{:class=>'uploadfile select'}%>
          </p>
     </form>
     <p>
          <%= link_to '< 返回', @item %>
          <%= link_to '下一步 >', '#',:onclick=>"$('#model-select-form').submit();"%>
     </p>
</div>