<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Brilliantech.Tsk.Data.CL.Properties.Settings.Leoni_Tsk_JNConnectionString"
            connectionString="Data Source=wangsong-pc;Initial Catalog=Leoni_Tsk_JN;Persist Security Info=True;User ID=sa;Password=wangsong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>