<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Brilliantech.PackSysDataService.Properties.Settings.LeoniPacking_prodConnectionString"
            connectionString="Data Source=CHARLOT-PC;Initial Catalog=LeoniPacking_prod;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>