<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="default" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/cz.ifdatahouse.log" />
		<param name="append" value="true" />
		<param name="MaxFileSize" value="10MB" />  
        <param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
		</layout>
	</appender>
	
	<appender name="org.cz.ifdatahouse.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/cz.ifdatahouse.log" />
		<param name="append" value="true" />
		<param name="MaxFileSize" value="10MB" />  
        <param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
		</layout>
	</appender>

	<appender name="org.quartz.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/quartz-log.log" />
		<param name="append" value="true" />
		<param name="MaxFileSize" value="10MB" />  
        <param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
		</layout>
	</appender>
	
	<appender name="org.transport.log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/transport-log.log" />
		<param name="append" value="true" />
		<param name="MaxFileSize" value="10MB" />  
        <param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
		</layout>
	</appender>
	

	<logger name="org.quartz">
		<level value="info" />
		<appender-ref ref="org.quartz.log" />
	</logger>

	<logger name="org.cz.epm.thrift.service">
		<level value="info" />
		<appender-ref ref="org.cz.ifdatahouse.log" />
	</logger>

     <logger name="org.cz.epm.util">
		<level value="info" />
		<appender-ref ref="org.transport.log" />
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="default" />
	</root>


</log4j:configuration>
