<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="basicHttpBehaviorConf">
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInspectService" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxBufferSize="524288000" maxReceivedMessageSize="524288000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="524288000"
            maxArrayLength="524288000" maxBytesPerRead="524288000" maxNameTableCharCount="524288000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost:8000/Brilliantech.Tsk.Service.Wcf/InspectService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInspectService"
        contract="TskInspectService.IInspectService" name="BasicHttpBinding_IInspectService" />
    </client>
  </system.serviceModel>
</configuration>
 